<footer class="text-gray-600 body-font w-full">
  <div class="bg-gray-100">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <rect x="4" y="5" width="16" height="16" rx="2" ry="2" stroke="white" stroke-width="2" fill="none"/>
          <line x1="16" y1="3" x2="16" y2="7" stroke="white" stroke-width="2"/>
          <line x1="8" y1="3" x2="8" y2="7" stroke="white" stroke-width="2"/>
          <line x1="4" y1="11" x2="20" y2="11" stroke="white" stroke-width="2"/>
          <rect x="7" y="14" width="3" height="3" fill="white"/>
          <rect x="14" y="14" width="3" height="3" fill="white"/>
        </svg>
        <span class="ml-3 text-xl">Happeni</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2024 Happeni —
        Created by <a href="https://github.com/jaredblumer" rel="noopener noreferrer" class="text-gray-600" target="_blank">Jared Blumer</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <!-- GitHub Icon -->
        <a href="https://github.com/jaredblumer" class="text-gray-500" target="_blank">
          <i class="fab fa-github w-6 h-6"></i>
        </a>
        <!-- LinkedIn Icon -->
        <a href="https://www.linkedin.com/in/jaredblumer" class="ml-3 text-gray-500" target="_blank">
          <i class="fab fa-linkedin w-6 h-6"></i>
        </a>
      </span>
    </div>
  </div>
</footer>