<div class="p-2 w-full">
  <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 flex-col">
    <div class="w-full text-center">
      <h2 class="text-2xl text-gray-700">No Upcoming Events</h2>
      <% if @past_events_exist %>
        <p class="leading-relaxed text-gray-500">We hope you enjoyed your past events! Create a new one to look forward to!</p>
      <% else %>
        <p class="leading-relaxed text-gray-500">You haven't added any events. Start by creating one now!</p>
      <% end %>
    </div>
  </div>
</div>